<div class="container mx-auto">
  <h1 class="text-5xl text-grey-500 text-center font-serif py-4">Search Component</h1>
  <p class="text-xl text-grey-300 text-center font-serif py-4 mx-8 md:mx-32 lg:mx-80">The story of how to build a reusable, dynamic, autocomplete search component with the help of Phoenix LiveView and AlpineJS</p>
</div>
